MONGODB_URI=mongodb+srv://whesp24_db_user:TrkJulZqSC536J5a@cluster0.w3tc4dc.mongodb.net/?appName=Cluster0
ALPHA_VANTAGE_KEY=IO0Y9CY7K6K36D6Z
NEWSAPI_KEY=183666ca6fd9408bacda18350ec07599
NODE_ENV=development
PORT=5000
